<?xml version="1.0" encoding="utf-8" ?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="Main" connectionString="Url = http://localhost:8088;user=XXX\ifly_dba;password=XXX;" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="Relational" connectionString="Data Source=.;Initial Catalog=Ifly;User Id=ifly;Password=XXX;" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
</configuration>