<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="volga" type="Volga.Configuration.ConfigurationFile, Volga">
      <section name="localization" type="Volga.Configuration.LocalizationConfiguration, Volga" />
    </sectionGroup>
  </configSections>
  
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="EmailService:QueueFile" value="C:\Apps\Ifly\EmailQueue.xml" />
  </appSettings>

  <volga>
    <localization>
      <languages>
        <add culture="en-US" shortcut="en" default="true" />
      </languages>
    </localization>
  </volga>

  <system.web>
    <machineKey validationKey="CBAE98B3EEF2BD1A08819958F01702CFD54B47C227B949BBC039978B2B3D5EE431B08214B564FA82F556032DAA1D111FE68573EA640970DA656DE9853F50B672" decryptionKey="3CEF5776FEA544891059B306EDEFD9A9015E214C3A19264A48280BE5C8D6926F" validation="SHA1" decryption="AES" />
    
    <httpRuntime targetFramework="4.5" />
    <compilation debug="true" targetFramework="4.5" />

    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>

  <system.webServer>
    <httpErrors errorMode="Custom" existingResponse="Replace">
      <remove statusCode="501" subStatusCode="-1" />
      <remove statusCode="500" subStatusCode="-1" />
      <remove statusCode="404" subStatusCode="-1" />
      <remove statusCode="403" subStatusCode="-1" />
      <error statusCode="501" subStatusCode="-1" path="/error/501" responseMode="ExecuteURL" />
      <error statusCode="500" subStatusCode="-1" path="/error/500" responseMode="ExecuteURL" />
      <error statusCode="404" subStatusCode="-1" path="/error/404" responseMode="ExecuteURL" />
      <error statusCode="403" subStatusCode="-1" path="/error/403" responseMode="ExecuteURL" />
    </httpErrors>

    <modules runAllManagedModulesForAllRequests="true">
      <remove name="WebDAVModule" />
      <remove name="Session" />
    </modules>

    <validation validateIntegratedModeConfiguration="false" />
    
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>

    <rewrite>
      <rules>
        <rule name="CanonicalHostNameRule1" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^numbers\.spritesapp\.com" negate="true" />
            <add input="{HTTP_HOST}" pattern="^www\.numbers\.spritesapp\.com" />
          </conditions>
          <action type="Redirect" url="http://numbers.spritesapp.com/{R:1}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>
