<ul class="checkable-list colors">
    <li>
        <input type="radio" value="0" data-bind="attr: { 'name': 'Color' + $index() + '_' + $parentContext.$index(), 'id': 'Color' + $index() + '_' + $parentContext.$index() + '1' }, checked: value" />
        <label data-bind="attr: { 'for': 'Color' + $index() + '_' + $parentContext.$index() + '1' }" title="@Ifly.Resources.Editor.ColorType_Accent1" class="theme-based"><span class="accent-1 accent-background"></span></label>
    </li>
    <li>
        <input type="radio" value="1" data-bind="attr: { 'name': 'Color' + $index() + '_' + $parentContext.$index(), 'id': 'Color' + $index() + '_' + $parentContext.$index() + '2' }, checked: value" />
        <label data-bind="attr: { 'for': 'Color' + $index() + '_' + $parentContext.$index() + '2' }" title="@Ifly.Resources.Editor.ColorType_Accent2" class="theme-based"><span class="accent-2 accent-background"></span></label>
    </li>
    <li>
        <input type="radio" value="2" data-bind="attr: { 'name': 'Color' + $index() + '_' + $parentContext.$index(), 'id': 'Color' + $index() + '_' + $parentContext.$index() + '3' }, checked: value" />
        <label data-bind="attr: { 'for': 'Color' + $index() + '_' + $parentContext.$index() + '3' }" title="@Ifly.Resources.Editor.ColorType_Accent3" class="theme-based"><span class="accent-3 accent-background"></span></label>
    </li>
    <li>
        <input type="radio" value="3" data-bind="attr: { 'name': 'Color' + $index() + '_' + $parentContext.$index(), 'id': 'Color' + $index() + '_' + $parentContext.$index() + '4' }, checked: value" />
        <label data-bind="attr: { 'for': 'Color' + $index() + '_' + $parentContext.$index() + '4' }" title="@Ifly.Resources.Editor.ColorType_Accent4" class="theme-based"><span class="accent-4 accent-background"></span></label>
    </li>
</ul>