<div class="mark">
    <input type="checkbox" value="true" data-bind="attr: { 'name': 'Mark' + $index() + '_' + $parentContext.$index(), 'id': 'Mark' + $index() + '_' + $parentContext.$index() }, checked: value.checkable" />
    <label title="@Ifly.Resources.Editor.MarkSelected" data-bind="attr: { 'for': 'Mark' + $index() + '_' + $parentContext.$index() }">@Ifly.Resources.Editor.Mark</label>
</div>