<div class="percentage">
    <input type="text" data-bind="percentage: { field: value, auto: getExtension('percentage') == 'auto' }, event: { keydown: function (data, event) { return $parents[2].onKeyDown(event); } }" />
</div>