<div class="typeahead">
    <input type="text" data-bind="value: value, typeahead: value, event: { keydown: function (data, event) { return $parents[2].onKeyDown(event); } }" />
    <div class="typeahead-suggestion"></div>
</div>