@{
    Layout = "~/Views/Shared/_Error.cshtml";
}

<h1>@Ifly.Resources.Editor.Error_NotImplemented</h1>
<p>@Html.Raw(Ifly.Resources.Editor.Error_NotImplemented_Description)</p>
<p>@Ifly.Resources.Editor.Error_NotImplemented_Description2</p>
