<div id="app-loading-overlay"></div>

<div id="app-loading-progress-container">
    <div id="app-loading-progress" class="progress progress-2x progress-show">
        <div class="progress-1"></div>
        <div class="progress-2"></div>
    </div>
</div>