<div id="background-image-upload-error" class="warning" title="@Ifly.Resources.Editor.UploadError" style="display: none">
    <center>
        @Ifly.Resources.Editor.BackgroundImageUploadError
    </center>
</div>