<div id="not-supported-browser-modal" class="warning" title="@Ifly.Resources.Editor.NotSupporterBrowser" style="display: none">
    <center>
        @Html.Raw(Ifly.Resources.Editor.NotSupporterBrowser_Description)
    </center>
</div>