<div id="video-player" class="modal-window promo-video">
    <div class="modal-content-outer">
        <h3 class="modal-title">@Ifly.Resources.Frontpage.WelcomeToSprites</h3>
        <div class="modal-content">
            <span class="loading">@Ifly.Resources.Frontpage.OneMoment</span>
            <div class="video-container"></div>
        </div>
        <div class="modal-buttons">
            <button class="primary" onclick="Ifly.App.getInstance().revert();"><span class="icon icon-remove"></span>@Ifly.Resources.Frontpage.Close</button>
        </div>
    </div>
</div>

