<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <appSettings>
    <add key="VideoPublishService:QueueFile" value="C:\Apps\Ifly\VideoPublishQueue.xml" />
  </appSettings>
  
  <system.web>
    <httpRuntime targetFramework="4.5" />
    <compilation debug="true" targetFramework="4.5" />

    <customErrors mode="Off" />
    
    <httpModules>
      <remove name="ExportApplicationRootModule" />
      <remove name="ExportResultStatusCheckModule" />
      <remove name="ExportResultDownloadModule" />
      <remove name="ExportAudioFileUploadModule" />
      <remove name="ExportResultContinuationModule" />
      
      <add name="ExportApplicationRootModule" type="Ifly.ExportProvider.ExportApplicationRootModule, Ifly.ExportProvider" />
      <add name="ExportResultStatusCheckModule" type="Ifly.ExportProvider.ExportResultStatusCheckModule, Ifly.ExportProvider" />
      <add name="ExportResultDownloadModule" type="Ifly.ExportProvider.ExportResultDownloadModule, Ifly.ExportProvider" />
      <add name="ExportAudioFileUploadModule" type="Ifly.ExportProvider.ExportAudioFileUploadModule, Ifly.ExportProvider" />
      <add name="ExportResultContinuationModule" type="Ifly.ExportProvider.ExportResultContinuationModule, Ifly.ExportProvider" />
    </httpModules>
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="ExportApplicationRootModule" />
      <remove name="ExportResultStatusCheckModule" />
      <remove name="ExportResultDownloadModule" />
      <remove name="ExportAudioFileUploadModule" />
      <remove name="ExportResultContinuationModule" />
      
      <add name="ExportApplicationRootModule" type="Ifly.ExportProvider.ExportApplicationRootModule, Ifly.ExportProvider" />
      <add name="ExportResultStatusCheckModule" type="Ifly.ExportProvider.ExportResultStatusCheckModule, Ifly.ExportProvider" />
      <add name="ExportResultDownloadModule" type="Ifly.ExportProvider.ExportResultDownloadModule, Ifly.ExportProvider" />
      <add name="ExportAudioFileUploadModule" type="Ifly.ExportProvider.ExportAudioFileUploadModule, Ifly.ExportProvider" />
      <add name="ExportResultContinuationModule" type="Ifly.ExportProvider.ExportResultContinuationModule, Ifly.ExportProvider" />
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="itextsharp" publicKeyToken="8354ae6d2174ddca" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.5.4.0" newVersion="5.5.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>
