.dimmed {
  font-size: 15px;
  color: #B4B4B4;
}
.dimmed a,
.dimmed a:hover,
.dimmed a:focus,
.dimmed a:visited {
  color: #eb6841;
  text-decoration: none;
}
.separator {
  border-top: 1px solid #ddd;
}
.separator.line {
  margin: 0;
  padding: 0;
  height: 1px;
}
.block {
  margin-top: 4px;
}
.center {
  text-align: center;
}
.clear {
  clear: both;
  float: none !important;
}
.help {
  cursor: help;
}
